<% provide(:title, "import data") %>
<h1>Import data</h1>

<div class="row">
  <div class="span6 offset3">
     <%= form_tag("/dictionaries", multipart: true) do %>
     <%= file_field_tag('dictionaries') %>
     <%= submit_tag('Save') %>
     <% end %>
  </div>
</div>